html,body {
	background-color: white;
	margin: 0;
}

h1 {
    display: inline;
}

select {
    margin: 0;
}

g.playerCompCell rect {
	fill: white;
	stroke: #999999;
}

g.playerCompCell text {
	font-size: 12px;
}