html,body {
	background-color: white;
	margin: 0;
}

div#titleBar {
	background-color: #aabbee;
}

h1 {
    display: inline;
}

select {
    margin: 0;
}

g.playerCompCell rect, g.playerCompHeader rect{
	fill: white;
	stroke: #999999;
}

g.playerCompCell text {
	font-size: 12px;
}

g.playerCompTitle text {
	font-size: 18px;
	fill: white;
}

g.neighbor {
	cursor: pointer;
}

g.neighbor text {
	font-size: 16px;
	fill: white;
}