<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Engine</title>
		<script type="text/javascript" src="js/util.js"></script>
		<script type="text/javascript" src="js/jersey.js"></script>
		<script type="text/javascript" src="js/view.js"></script>
        
        <!-- Bootstrap Core CSS -->
        <link href="css/engine.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
            
        <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
        
    </head>
    <body>
        <div id="pickTeam">
			<form name="myForm" role="form" novalidate="novalidate" class="form-inline">
			  <div class="form-group">
				<label>Pick a team</label>
				<select id="teamSel" class="form-control">
					<option value="" selected="selected">Select team</option>
				</select>
			  </div>
			  <div class="form-group">
				<label>, a season</label>
				<select id="seasonSel" class="form-control">
					<option value="" selected="selected">please select team first</option>
				</select>
			  </div>
			  <div class="form-group">
				<label>, and a stat</label>
				<select id="statSel" class="form-control">
					<option value="" selected="selected">please select season first</option>
				</select>
			  </div>
			  <input id="updateButton" 
					type="button" 
					value="Go"
					class="btn btn-primary"/>
			  <input id="randomButton" 
					type="button" 
					value="Random!"
					class="btn btn-primary"/>
			</form>
        </div>
		
		        
        <!-- D3.js -->
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script type="text/javascript">
			
			//Team logo colors
			var colors= {"ATL":"#D21033", "BOS":"#05854C", "BRK":"#000000", "CHA":"#25799A", "CHI":"#D4001F", "CLE":"#9F1425", "DAL":"#006AB5", "DEN":"#4393D1", "DET":"#006BB6", "GSW":"#FFC33C", "HOU":"#CC0000", "IND":"#FFC225", "LAC":"#EE2944", "LAL":"#4A2583", "MEM":"#85A2C6", "MIA":"#B62630", "MIL":"#00330A", "MIN":"#12397F", "NOP":"#091D4A", "NYK":"#2E66B2", "OKC":"#0075C1", "ORL":"#077ABD", "PHI":"#C7974D", "PHO":"#FF7A31", "POR":"#E1393E", "SAC":"#743389", "SAS":"#BEC8C9", "TOR":"#CD1041", "UTA":"#448CCE", "WAS":"#004874"}
			
			//Overarching SVG
			var svg= d3.select("body")
						.append("svg")
						.attr("width", "100%")
						.attr("height", 800)
						.attr("x",0)
						.attr("y",0)
			
            //Create Player Comparison section
            var playerComp= svg.append("svg")
								.attr("width", 500)
								.attr("height", "100%")
								.attr("x",10)
								.attr("y",10)
			
			var titleWidth= 180;
			var nameWidth= 120;
			var statWidth= titleWidth-nameWidth;
			var titleHeight= 60;
			var titlePad= 20;
			var maxNumPlayers= 15;
			var rectHeight= 30;

			var playerCompTitles= ["chosenTeam","chosenNeighbor"];
			var playerCompGroups= {}
			
			for(var i=0; i<2; i++) {
				playerCompGroups[playerCompTitles[i]]= playerComp.append("g").attr("id",playerCompTitles[i]);
				p= playerCompGroups[playerCompTitles[i]];
			}
			
			
			//Create Neighbor region
			var neighborsPerGroup= 5;
			var numYearGroups= 5;
			var yearWindow= 10;
			var rectWidth= 120;
			var neighborYPad= 20;
			
			var neighbors= svg.append("svg")
								.attr("id","neighbors")
								.attr("width",900)
								.attr("height","100%")
								.attr("x",300)
								.attr("y",10);
								
			var neighborGroups= [];
			for(var i=0; i<numYearGroups; i++) {
				var tmp= neighbors.append("g")
									.attr("class","yearGroup")
									.attr("id","yearGroup"+i);
				neighborGroups.push(tmp);
			}
                
            d3.select("#updateButton").on("click", function() {
				//Set chosen team's info in player comparison region
				setChosenTeamInPlayerComparison(d3.select("#teamSel").node().value, d3.select("#seasonSel").node().value, d3.select("#statSel").node().value,false);
				update(d3.select("#teamSel").node().value, d3.select("#seasonSel").node().value, d3.select("#statSel").node().value);
            })
			
			d3.select("#randomButton").on("click", function() {
				//Pick random team, set it in dropdown, and force season dropdown to update accordingly
				var team = teams[Math.floor(Math.random()*teams.length)];
				d3.select("#teamSel").node().value= team;
				teamSel.onchange();
				//Pick random season, set it in dropdown, and force stat dropdown to update accordingly
				var yr = teamYears[team][Math.floor(Math.random()*teamYears[team].length)];
				d3.select("#seasonSel").node().value= yr;
				seasonSel.onchange()
				//Pick random stat, set it in dropdown
				var lst= statLists[yearToStatList[yr]];
				var stat= lst[Math.floor(Math.random()*lst.length)];
				d3.select("#statSel").node().value= stat;
				//Update datavisualization with randomly-selected input
				setChosenTeamInPlayerComparison(d3.select("#teamSel").node().value, d3.select("#seasonSel").node().value, d3.select("#statSel").node().value,false);
				update(d3.select("#teamSel").node().value, d3.select("#seasonSel").node().value, d3.select("#statSel").node().value);
            })

        </script>
        
        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>